<div class="jumbotron-fluid">
  <div class="container">
    <h1 class="jumbo-style display-4">Eat-Da-Burger!</h1>
    <p class="jumbo-style lead">Enter your own burger creation!</p>
    <hr>
  </div>
   <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
           <div class="form-group">
               <label for="newBurger">Burger Order:</label>
               <input type="text" id="newBurger" name="name">
               <button id="submit-btn" class="btn btn-info">Submit</button>
           </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>

<div class="container container2">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <ol type="1" class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">{{burger_name}}
                    <button class="btn btn-warning devour-btn" data-id="{{id}}">Devour it!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
              <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{burger_name}}
                    <button class="btn btn-warning moveBack-btn" data-id="{{id}}">Throw Up</button>
                    <button class="btn btn-warning delete-btn" data-id="{{id}}">Remove</button>

                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
    